<%=provide(:title, 'Help')%>
<div class="center hero-unit">
  <h1> Help with PgShip - PG Freight Forwarder Web App</h1>
  <h2>
    This is the help page for the
    <a href="http://www.evangelshipping.com/"> Evangel Shipping Company </a>
    Freight Forwarding Cloud Based Application.
  </h2>
  <%= link_to("Sign up now!", '#', class: "btn btn-large btn-primary") %>
</div>
