<li>
  <%= link_to product.name, product %>
  <% if (current_user && current_user.admin?) %>
    | <%= link_to 'Edit', edit_product_path(product) %>
    | <%= link_to 'Delete', product,
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
  <% end %>
</li>