<li id="<%=review.id%>">
  <span class="user">
    <%=link_to(review.user.name, review.user)%>:
  </span>
  <%=render partial: "reviews/review",
            object: review,
            as: :review%>
</li>