<li id="<%=review.id%>">
  <span class="product">
    <%=link_to(image_tag(review.product.photo.url(:small)),
               review.product,
               title: review.product.name)%>
  </span>
 <%=render partial: "reviews/review",
           object: review,
           as: :review%>
</li>